/* using meyers reset */
@import url(https://fonts.googleapis.com/css?family=Khula:700);

/* Box-Sizing */
box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Web Font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);

.navbar {
  font-size: 50%;
  width: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  background: url('https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80') no-repeat;
  background-size: cover;
  height:60vh;
  align-content: baseline;
  display: block !important;

}
.top{
  display: flex;
  justify-content: space-between;
}

section {
  /*overflow: hidden;*/
  width: 28em;
}

p {
  margin: 0;
}

.cover {
  color: white;
  font-size:40px;
  width:40%;
  margin: 0;
  padding: 1% 7% 1% 10%;
  padding-top: 10%;
  float: left;
  margin-right: 2em;
  display: block;
 /* box-shadow: 0em 0em 5em rgba(10,10,10,0.7); */
}

.stack {

  text-transform: uppercase;
  font-size: 1em;
  line-height: 0.7em;
  word-wrap: break-word;
  overflow-wrap: break-word;

}


span {
position: relative;


}

/* C */
.char1 {
  margin-left: -.2em;
  z-index: 4;
  text-shadow: 0.05em 0.05em 0.2em rgba(10,10,10,0.9);
}

/* O */
.char2 {
 z-index: 3;
 margin-left: -.175em;
  top: 0.08em;
    text-shadow: -0.02em 0.02em 0.2em rgba(10,10,10,0.9);

}

/* M */
.char3 {
  z-index: 9;
  margin-left: -.125em;
  text-shadow: -0.05em 0.05em 0.2em rgba(10,10,10,0.9);

}

/* P */
.char4 {
  z-index: 5;
  margin-left: -.175em;
  text-shadow: 0.02em -0.02em 0.2em rgba(10,10,10,0.9);
}

.nav-links{
  margin-left: 0.9375rem;
  margin-top: 0.9375rem;
  display: block;
}

.nav-links :hover {
  background-color: white;
}
i{
  padding-left: 0.3125rem;
  padding-top: 0.3125rem;
  color: white;
}

.dropdown-item {
  padding: 1rem 1.5rem;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.tori body {
  text-align:center;
  background:linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
  font-weight:300;
  padding-top:40vh;
  height:100vh;
  overflow:hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
}

.hello {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  font-size:40px;
}

.hello:first-of-type {
  animation: showup 7s infinite;
}

.hello:last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}

.im:last-of-type span {
  margin-left:-355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}


